* {
    margin: 20px;
    padding: 0;
}

.container {
    border-radius: 10%;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.at1{
    display: flex;
    justify-content: flex-end;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: blue 3px solid;
    border-radius: 15%;
    margin: 10px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.at2{
    display: flex;
    justify-content: flex-start;
}
