*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Caixa{
    display: flex;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: black solid 5px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    border: white 3px solid;
    margin: 10px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.centro{
    justify-content: center;
    align-items: center;
}